<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!---腾讯地图API-->
	<add key="QqMapApi" value="D6KBZ-7GIKP-K2SDC-VZHJN-2FG5V-O4BWF"/>
	<!--1=MSSQL  2=ACCESS-->
	<add key="HdhCmsDataType" value="1"/>
	<add key="HdhCmsAccessName" value="~/Database/HdhCms.mdb"/>
  <add key="HdhCmsConnStr" value="user id=hdhcms;password=hdhcms123456;initial catalog=DemoHdhCms;data source=localhost"/>
  <!--前面为URL，后边为链接文字，只要带有|，同时有http字符表示为链接，否则纯文本-->
  <add key="HdhCmsContact" value="http://www.hdhcms.com/default.aspx/dyj2/dej60/|前往HDHCMS官网免费授权"/>
  <!--默认访问文件-->
  <add key="HdhDefaultFile" value="default.aspx"/>
  <!--系统表单前缀-->
  <add key="HdhTablePre" value="Onkey_"/>
  <!--上一级目录-->
  <add key="UpWj_Djml" value="../"/>
  <!--上传总目录-->
	<add key="UpWj_Sczml" value="upfiles/"/>
	<!--上传视频目录及文件类型与大小-->
	<add key="UpWj_Spml" value="video/"/>
	<add key="UpWj_Spwj" value="application/octet-stream|application/x-shockwave-flash|flv|swf|mp4|video/mp4|video/x-flv|video/x-ms-wmv-wmv|video/x-ms-wmv-wmv-audio/ogg-ogg"/>
	<add key="UpWj_Spdx" value="505021024"/>
	<!--上传图片目录及文件类型与大小-->
	<add key="UpWj_Tpml" value="images/"/>
	<add key="UpWj_Tpwj" value="image/jpeg|image/pjpeg|image/gif|image/x-png|image/png|jpg|gif|png"/>
	<add key="UpWj_Tpdx" value="505021024"/>
	<!--上传附件目录及文件类型与大小-->
	<add key="UpWj_Fjml" value="file/"/>
	<add key="UpWj_Fjwj" value="application/msword|application/octet-stream|application/vnd.ms-excel|doc|docx|xls|rar|text/plain|txt|xlsx|jpg|png|gif|zip|pdf|application/octet-stream|application/x-shockwave-flash|flv|swf|mp4|video/mp4|video/x-flv|video/x-ms-wmv-wmv|video/x-ms-wmv-wmv-audio/ogg-ogg"/>
	<add key="UpWj_Fjdx" value="505021024"/>
  <!--文件缓存相关设置-时间设置秒-->
  <add key="HdhCacheAppSetTime" value="0"/>
  <!--文件缓存相关设置-目录设置-->
  <add key="HdhCacheAppSetTime" value="0"/>
</appSettings>