<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <!--提供Ajax调用开始 结合.asmx文件可以开启跨域调用 -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--提供Ajax调用结束-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512102400 " executionTimeout="60" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <!--如果你要使用IIS中的ASP.NET的模拟用户，那么就需要添加【identity】，否则可以隐藏
    如果你要使用IIS中的ASP.NET的模拟用户，那么就需要添加
    <identity impersonate="true"/>
    或者
    <identity impersonate="true" userName="accountname" password="password" />
    -->
  </system.web>
  <!--Newtonsoft.Json 插件要用当前配置-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".3gp" />
      <mimeMap fileExtension=".3gp" mimeType="video/3gpp" />
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />      
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
        <httpErrors errorMode="Detailed" />
  </system.webServer>
  <appSettings configSource="HdhApp.config"></appSettings>
</configuration>