{templatefile:[top.html]}
<div class="hdhzkj">

{templatefile:[_daohang.html]}
{templatefile:[_sxsjlm.html]}

 <div class="hdhwkj">
  <ul class="tpzq">
{hedonghua:content bigclass=dej smallclass=dsj num=20  pageno  sort=desc order=donforsj}
    <li><a href="[content:outlink]" title="[content:donformc] "><img src="[content:donfortp]" onerror="this.src='{hedonghua:siteml}images/default.png';" /><b>[content:donformc] </b><span>[content:outsjyyr]</span></a></li>
{/hedonghua:content}
 </ul>
 </div>

 {templatefile:[_gyfydm.html]}  

</div>
{templatefile:[bottom.html]}