{templatefile:[top.html]}
<div class="hdhzkj">

{templatefile:[_daohang.html]}
{templatefile:[_sxsjlm.html]}

 <div class="hdhwkj">
  <ul class="gwsc">
{hedonghua:content bigclass=dej smallclass=dsj num=20  pageno  sort=desc order=donforsj}
  <li>
   <a href="[content:outlink]">
    <img src="[content:donfortp]" onerror="this.src='{hedonghua:siteml}images/default.png';" />
    <h3>[content:donformc]</h3>
    <div>[content:donformc]</div>
    <span>下载：[content:donforsl]</span>
   </a>
  </li>
{/hedonghua:content}
  </ul>
 </div>
 
 {templatefile:[_gyfydm.html]}  
 
</div>
{templatefile:[bottom.html]}