html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #F5F0F0;
    color: #333;
    text-align: center;
    font-size: 14px;
    Font-Family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    margin: 0px;
    padding: 0px 0 80px 0;
}

a {
    cursor: pointer;
}

textarea {
    border-top: 2px solid #9A9A9A;
    border-left: 2px solid #9A9A9A;
    border-right: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
}

.xsrk {
    width: 100px;
    margin: 5px 0;
    border: 0px;
    padding: 5px;
    border-bottom: #eeee;
}

.dsrk {
    width: 100%;
    margin: 5px 0;
    border: 0px;
    padding: 5px;
    border-bottom: #eeee;
}

input.yzk {
    float: left;
    width: 120px;
    border: 1px solid #CACACA;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
}

.bjktmshuis {
    float: left;
    position: relative;
    display: block;
    margin: auto 2% 10px 2%;
    width: 96%;
    background: url(sstmt.png);
    border-radius: 3px;
    box-shadow: 0 0 2px #888;
    text-align: center;
}

    .bjktmshuis span {
        display: block;
        margin: 0px;
        padding: 5px 10px;
    }

.bjktmqhuis {
    float: left;
    position: relative;
    display: block;
    margin: auto 2% 10px 2%;
    width: 96%;
    background: url(tmbj.png);
    border-radius: 3px;
    box-shadow: 0 0 2px #aaa;
    text-align: center;
}

    .bjktmqhuis span {
        display: block;
        margin: 0px;
        padding: 5px 10px;
    }

.bjktmbais {
    float: left;
    position: relative;
    display: block;
    margin: auto 2% 10px 2%;
    width: 96%;
    background: url(tmbsbj.png);
    border-radius: 3px;
    box-shadow: 0 0 2px #ccc;
    text-align: center;
}

    .bjktmbais span {
        display: block;
        margin: 0px;
        padding: 5px 10px;
    }

.bigbtn {
    display: block;
    cursor: pointer;
    margin: 5px auto auto 5px;
    padding: 10px 30px;
    background: #1E7BB3;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

.autobtn {
    display: block;
    cursor: pointer;
    margin: 10px auto;
    color: #222222;
    padding: 5px 30px;
    background: #52A152;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.tjk_red {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 15px auto auto auto;
    color: #ffffff;
    padding: 6px 0;
    background: #dd4a4a;
    border-radius: 20px;
    width: 90%;
    text-decoration: none;
}

.tjk_blue {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 15px auto auto auto;
    color: #ffffff;
    padding: 8px 0;
    background: #4393e5;
    border-radius: 20px;
    width: 90%;
    border: 0px;
    text-decoration: none;
}

.tjk_green {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 15px auto auto auto;
    color: #ffffff;
    padding: 6px 0;
    background: #52A152;
    border-radius: 20px;
    width: 90%;
    text-decoration: none;
}

.tjk_orange {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 15px auto auto auto;
    color: #ffffff;
    padding: 8px 0;
    font-size: 14px;
    background: #ee3007;
    border-radius: 20px;
    width: 90%;
    border: 0px;
    text-decoration: none;
    margin-top: 20px;
}

.tjk_black {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 15px auto auto auto;
    color: #FF6C1E;
    padding: 6px 0;
    background: #33363B;
    border-radius: 20px;
    width: 90%;
    text-decoration: none;
}

.xan_red {
    display: block;
    float: left;
    cursor: pointer;
    margin: 5px auto auto 2px;
    color: #fff;
    Text-Align: center;
    padding: 3px 5px 3px 5px;
    background: #B90000;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.xan_blue {
    display: block;
    float: left;
    cursor: pointer;
    margin: 0px auto auto 2px;
    color: #fff;
    Text-Align: center;
    padding: 7px 8px;
    background: #1E7BB3;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.xan_green {
    display: block;
    float: left;
    cursor: pointer;
    margin: 0px;
    color: #fff;
    Text-Align: center;
    padding: 6px 5px;
    background: #52A152;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.xan_orange {
    display: block;
    float: left;
    cursor: pointer;
    margin: 5px auto auto 2px;
    color: #fff;
    Text-Align: center;
    padding: 3px 5px 3px 5px;
    background: #FF6C1E;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.xan_black {
    display: block;
    float: left;
    cursor: pointer;
    margin: 0px;
    color: #fff;
    Text-Align: center;
    padding: 6px 5px;
    background: #333;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.xan_white {
    display: block;
    float: left;
    cursor: pointer;
    margin: 5px auto auto 2px;
    color: #555555;
    Text-Align: center;
    padding: 3px 5px 3px 5px;
    background: #f1f1f1;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.xan_huise {
    display: block;
    float: left;
    cursor: pointer;
    margin: 5px auto auto 2px;
    color: #fff;
    Text-Align: center;
    padding: 3px 5px 3px 5px;
    background: #a9a0a0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.an {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #808080;
    background: #ff6000;
    color: #ffffff;
    overflow: hidden;
}

.zjan {
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #808080;
    background: #ff6000;
    color: #ffffff;
    overflow: hidden;
}

input.tjk {
    display: block;
    float: left;
    cursor: pointer;
    margin: 5px auto auto 5px;
    padding: 10px 30px;
    background: #B90000;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: auto;
    text-decoration: none;
}

.zftjk {
    display: block;
    text-align: center;
    height: auto;
    padding: 10px 40px;
    margin: 5px 10px;
    border-radius: 5px;
    background: #ff6000;
    font-weight: 600;
    color: #800;
    overflow: hidden;
    cursor: pointer;
}

.wzk {
    float: left;
    width: auto;
    height: auto;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
    background: #1E7BB3;
    color: #ffffff;
    overflow: hidden;
}

.wzked {
    float: left;
    width: auto;
    height: auto;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
    background: #ff6000;
    color: #ffffff;
    overflow: hidden;
}

.wordred {
    color: #ff0000;
}

.ts {
    float: left;
    width: 90%;
    margin: auto;
}

    .ts label {
        color: #ff0000;
        cursor: pointer;
    }

.red {
    color: #f00;
}

.blue {
    color: #1E7BB3;
}

.green {
    color: #52A152;
}

.orange {
    color: #FF6C1E;
}

.grey {
    color: #505050;
}

a.ar {
    display: block;
    float: right;
    padding: 5px 10px;
    text-decoration: none;
}

label.hyxs {
    float: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

    label.hyxs:hover {
        background: #efefef;
    }


ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    Width: 100%;
    height: auto;
}

ol {
    Float: Left;
    Width: 96%;
    Padding-top: 10px;
    Padding-bottom: 15px;
    Margin: 0 0px 10px 2%;
    Line-Height: 200%;
    Color: #202020;
    OverFlow: Hidden;
    border-radius: 5px;
    background: url(tmbj.png);
    box-shadow: 0 0 5px #bcbcbc;
}

    ol li {
        Float: Left;
        Width: 98%;
        Height: 28px;
        Margin: 5px 1%;
        border-bottom: 1px dotted #808080;
        Overflow: Hidden;
        Text-Align: left;
    }

        ol Li span.s1 {
            Float: right;
            width: 60%;
            Color: #222222;
            overflow: hidden;
        }

        ol Li span.s2 {
            Float: left;
            width: 40%;
            Color: #698e2b;
            overflow: hidden;
        }

        ol li a {
            color: #4F4F4D;
        }

td {
    line-height: 100%;
}

a {
    text-decoration: none;
    color: #4F4F4D;
}

ul.bj, ul.bj li {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -10;
    background: none;
}

    ul.bj li img {
        width: 100%;
        height: 100%;
        z-index: -9;
    }

.list {
    display: block;
}

.hide {
    display: none;
}

.main {
    float: left;
    margin: 0px 0px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0px;
}
    /*****内页顶部区*****/
    .main #NyXlcd {
        position: absolute;
        width: 30%;
        height: auto;
        z-index: 10000;
        top: 45px;
        right: 0;
        opacity: 0.9;
        margin-left: -160px;
        overflow: Hidden;
        display: none;
    }

#NyXlcd .cdhs {
    float: left;
    width: 100%;
    height: auto;
    background: rgba(201,228,254,0.7);
    overflow: Hidden;
    padding: 10px 0;
}

    #NyXlcd .cdhs a {
        float: left;
        display: block;
        color: #222;
        width: 96%;
        height: 20px;
        overflow: hidden;
        text-decoration: none;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 200%;
    }


#NyXlcd .cdfs {
    float: left;
    width: 100%;
    height: auto;
    padding: 7px auto 0 1px;
    background: #D8D8D8;
    color: #3B3B39;
    overflow: Hidden;
    text-shadow: #f1f1f1 1px 0 0,#f1f1f1 0 1px 0,#f1f1f1 -1px 0 0,#f1f1f1 0 -1px 0;
}

    #NyXlcd .cdfs a {
        float: left;
        display: block;
        color: #3B3B39;
        text-decoration: none;
        width: 80px;
        height: 20px;
        overflow: hidden;
        text-align: center;
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 200%;
    }

        #NyXlcd .cdfs a.checked {
            float: left;
            display: block;
            color: #425e00;
        }

.main ul.nytop {
    /*    float: left;
    width: 100%;
    height: auto;
    background: #4393E5;
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
*/
    position: fixed;
    width: 100%;
    height: auto;
    background: #4393E5;
    margin: 0px 0px 0px 0px;
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
    z-index: 10;
}

    .main ul.nytop li {
        width: auto;
        height: auto;
        margin: 10px 0px 5px 0;
        text-align: center;
    }

        .main ul.nytop li.l {
            float: left;
            width: 30px;
        }

        .main ul.nytop li.c {
            display: inline-block;
            overflow: hidden;
            color: #fff;
            font-weight: 600;
        }

        .main ul.nytop li.r {
            float: right;
            width: 30px;
        }

        .main ul.nytop li a span {
            display: block;
            font-size: 20px !important;
            color: #fff;
        }

        .main ul.nytop li a {
            color: #fff;
        }

/*.main > ul.nytop > li > a.fh {
    display: block;
    text-align: left;
    font-size: 16px;
    color:#fff;
}

    .main > ul.nytop > li > a.fh > b {
        display: block;
        text-align: left;
        margin: 0px 0 0 10px;
        line-height: 200%;
        font-size: 16px;
    }
*/

.main ul.nydb {
    float: left;
    width: 100%;
    height: auto;
    background: #4393E5;
    margin: 0px 0px 10px 0px;
    box-shadow: 0px 0px 2px #000000;
    list-style-type: none;
}

    .main ul.nydb li.l {
        float: left;
        width: 15%;
        height: auto;
        margin: 10px 0px 5px 0;
        text-align: center;
        list-style-type: none;
    }

.main > ul.nydb > li.l > a.fh {
    display: block;
    text-align: left;
    text-shadow: 0;
    color: #fff;
}

    .main > ul.nydb > li.l > a.fh > span {
        display: block;
        text-align: left;
        margin: 0px 0 0 10px;
        font-weight: 100;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 35px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        text-shadow: 0 0 0 black;
        color: #fff;
    }

.main ul.nydb li.c {
    float: left;
    width: 70%;
    height: auto;
    margin: 10px 0px 15px 0;
    text-align: center;
    list-style-type: none;
}

    .main ul.nydb li.c > a.bt {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        font-size: 20px;
        text-align: center;
        overflow: hidden;
        color: #fff;
        text-shadow: 0 0 black;
        font-weight: 600;
    }

.main ul.nydb li.r {
    float: right;
    width: 15%;
    height: auto;
    margin: 10px 0px 5px 0;
    text-align: center;
    list-style-type: none;
}

.main > ul.nydb > li.r > a.sy {
    display: block;
    text-align: right;
}

    .main > ul.nydb > li.r > a.sy > span {
        display: block;
        text-align: right;
        margin: 0px 10px 0 0;
        font-weight: 100;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        text-shadow: 0 0 0 black;
        color: #fff;
    }

.main .gjwm {
    position: absolute;
    width: 140px;
    height: 20px;
    box-shadow: 2px 2px 5px #808080;
    background: #555555;
    border-radius: 5px;
    left: 50%;
    margin-left: -70px;
    top: 40px;
    z-index: 9;
    border-top: 1px solid #dedede;
}

    .main .gjwm a {
        color: #f1f1f1;
        margin: auto 6px;
        text-shadow: #4F4F4D 1px 0 0,#4F4F4D 0 1px 0,#4F4F4D -1px 0 0,#4F4F4D 0 -1px 0;
    }
/*****三级菜单*****/
ul.sjcd {
    /*    float: left;
    text-align: center;
    width: 96%;
    margin: 10px 2%;
    height: auto;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
*/
    position: relative;
    text-align: center;
    top: -20px;
    width: 96%;
    margin: 0px 2%;
    height: auto;
    border: 1px solid #f1f1f1;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 1px #cfcfcf;
}


    ul.sjcd > li {
        float: left;
        text-align: center;
        width: 100%;
        margin: 0px;
        height: auto;
        border-bottom: 1px solid #eee;
        background: #fff;
        overflow: hidden;
        padding: 5px;
    }

        ul.sjcd > li > a {
            display: block;
            float: left;
            width: 100%;
            height: auto;
            color: #222222;
            margin: 0px 0px;
            padding: 5px 0px;
            line-height: 200%;
        }

            ul.sjcd > li > a > span {
                display: block;
                float: left;
                margin: 0px 0 0 10px;
                padding: 8px 0;
                font-size: 14px;
                color: #4393e5; /*#FE3343;*/
            }

            ul.sjcd > li > a > h5 {
                float: left;
                width: auto;
                height: auto;
                margin: 0px 0 0 10px;
                font-size: 14px;
                color: #333;
                font-weight: 100;
            }

            ul.sjcd > li > a > b {
                display: block;
                float: right;
                width: auto;
                height: auto;
                padding: 5px 7px;
                font-size: 16px;
                ;
                margin: 0px 10px 0 0;
                font-weight: 100;
            }

        ul.sjcd > li.checked {
            background: url(qpbj.png);
            border-radius: 5px;
        }

            ul.sjcd > li.checked a {
                color: #111111;
                display: block;
                padding: 2px 0;
            }
/*****底部脚本区*****/
.main .foot {
    float: left;
    width: 100%;
    height: auto;
    display: none;
}

.foot .lrk {
    float: left;
    width: 100%;
    height: auto;
    padding: 5px auto;
}

.foot .fixedh {
    float: left;
    width: 100%;
    height: 30px;
}

.footfix {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: #4393E5;
    Color: #222222;
    text-align: center;
    z-index: 99999;
    text-shadow: #efefef 1px 0 0,#efefef 0 1px 0,#efefef -1px 0 0,#efefef 0 -1px 0;
    display: none;
}

    .footfix .lrk {
        position: fixed;
        width: 100%;
        height: 24px;
        bottom: 2px;
    }
/****分享指向层******/
#fszxc {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(Fspy.png) top right no-repeat #000000;
    opacity: 0.8;
    display: none;
    z-index: 9999;
}

#gjgzh {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(gjgzh.png) top right no-repeat #000000;
    opacity: 0.8;
    display: none;
    z-index: 9999;
}
/******注册登录样式*********/
.midlog {
    position: relative;
    width: 98%;
    min-height: 300px;
    margin: 20px auto;
    overflow: hidden;
    padding-bottom: 20px;
}

    .midlog .t {
        display: block;
        margin: 10px 10px 30px 10px;
        border-bottom: 1px solid #EEEEEE;
        height: 33px;
        text-align: left;
    }

        .midlog .t h1 {
            float: left;
            margin: 2px;
            padding: 0px;
            font-size: 18px;
        }

        .midlog .t b {
            display: block;
            float: left;
            width: auto;
            bottom: 5px;
            margin: 10px 2px 2px 2px;
            padding: 0px;
            color: #999999;
        }

    .midlog .l {
        float: left;
        width: 98%;
        height: auto;
        margin: 10px 1%;
        text-align: center;
        padding-top: 20px;
    }

        .midlog .l .kj {
            float: left;
            width: 100%;
            margin: 10px auto;
            text-align: center;
        }

            .midlog .l .kj span {
                display: block;
                float: left;
                width: 29%;
                color: #33383D;
                padding-right: 5px;
                text-align: right;
                overflow: hidden;
            }

            .midlog .l .kj input.srk {
                float: left;
                width: 60%;
                color: #999999;
                border: 1px solid #CACACA;
                border-radius: 3px;
                padding: 2px 5px 2px 5px;
                overflow: hidden;
            }

    .midlog .c {
        float: left;
        width: 98%;
        height: 1px;
        margin: 10px 1%;
        background: #f1f1f1;
    }

    .midlog .r {
        float: left;
        width: 98%;
        height: auto;
        margin: 10px 1%;
        text-align: center;
    }

        .midlog .r dl {
            float: left;
            width: 100%;
            margin: 10px auto;
        }

    .midlog dl {
        float: left;
        width: 100%;
        margin: 0px auto;
    }

        .midlog dl:hover {
            background: #F0FCFF;
        }

        .midlog dl dt {
            margin: 0px 0 auto 1%;
            border: 0px;
            text-align: left;
            color: #33383D;
            padding: 8px 0 8px 10px;
            font-size: 16px;
        }


            .midlog dl dt em {
                color: #FF0000;
                margin: 5px;
                padding: 0px;
            }

        .midlog dl dd {
            display: block;
        }

            .midlog dl dd div {
                float: left;
                width: 100%;
            }

                .midlog dl dd div input.srk {
                    float: left;
                    display: block;
                    width: 90%;
                    color: #222;
                    background: none;
                    border: 0px;
                    border-bottom: 1px solid #CACACA;
                    border-radius: 3px;
                    padding: 10px 0px;
                }

            .midlog dl dd i {
                display: block;
                color: #9999A5;
                padding-top: 5px;
            }

        .midlog dl:hover dd i {
            display: block;
            color: #ff0000;
            padding-top: 5px;
        }

#zjxkxy {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 10%;
    margin-top: 20px;
    opacity: 0.9;
    height: 300px;
    border: 4px Solid #E87100;
    background: #FFFCF7;
    z-index: 99999;
    text-align: center;
    display: none;
}

    #zjxkxy span {
        display: block;
        float: left;
        width: 96%;
        height: 240px;
        margin: 10px 2%;
        overflow-y: scroll;
        overflow-x: hidden;
        color: #33383D;
        text-align: left;
    }
/***会员中心基本样式****/
a.ddys {
    display: inline-block;
    padding: 5px 8px;
    font-size: 12px;
}

a.ddysXz {
    display: inline-block;
    padding: 5px 8px;
    font-size: 12px;
    border-bottom: 2px solid #4393E5;
}

.main .mobdbk {
    float: left;
    width: 100%;
    height: 150px;
    background: #4393E5; /* #fe3343;*/
    margin: 0px;
    padding: 0px;
}

.mobdbk > .l {
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
}

    .mobdbk > .l > a {
        display: block;
        width: 80px;
        height: 80px;
        color: #3B8DD1;
        margin: 10px auto 10px 20px;
        text-decoration: none;
        float: left;
    }

        .mobdbk > .l > a > img {
            width: 80px;
            height: 80px;
            margin: 0px auto;
            border-radius: 50%;
            border: 1px solid #52d4f1;
        }

    .mobdbk > .l > b {
        display: block;
        height: auto;
        color: #ffffff;
        margin: 10px 0px 0px 10px;
        padding-left: 30px;
        text-decoration: none;
        overflow: hidden;
        text-align: left;
        text-shadow: 0 0 black;
        font-size: 20px;
    }

    .mobdbk > .l > .hydj {
        float: left;
        width: 100px;
        height: 25px;
        background: #fff;
        margin: 10px auto auto 30px;
        border-radius: 10px;
        line-height: 200%;
        font-size: 14px;
        color: #7a0909;
    }

.main .moblrk {
    position: relative;
    top: 60px;
    width: 98%;
    margin: 0px 1% 5px 1%;
    Border-radius: 0px;
    text-align: left;
    padding: 0px;
    padding-bottom: 5px;
}

.moblrk ul.ejcdx {
    width: 100%;
    margin: 0px;
    padding: 5px 0;
}

    .moblrk ul.ejcdx li {
        float: left;
        width: 46%;
        margin: 0px 0px 5px 2%;
        Height: auto;
        Border-radius: 5px;
        box-shadow: 0 0 5px #bcbcbc;
        background: url(tmbj.png);
        overflow: hidden;
    }

        .moblrk ul.ejcdx li a {
            float: left;
            width: 100%;
            height: auto;
            border: 0px;
            Padding: 0px 0;
            Text-Align: Center;
        }

            .moblrk ul.ejcdx li a img {
                float: left;
                width: 100%;
                height: auto;
                border: 0px;
                Padding: 0px 0px;
                margin: 0px;
                Text-Align: Center;
            }

            .moblrk ul.ejcdx li a dt {
                float: left;
                width: 100%;
                height: auto;
                border: 0px;
                Padding: 1px 0;
                margin: 0px;
                Text-Align: Center;
            }

.moblrk > .kj {
    display: block;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

    .moblrk > .kj > form > dl {
        float: left;
        display: block;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 5px;
        width: 100%;
    }

        .moblrk > .kj > form > dl:hover {
            background: none;
        }

        .moblrk > .kj > form > dl dt {
            float: left;
            width: 30%;
            margin: 0px 1%;
            text-align: right;
            color: #33383D;
            padding: 0px;
        }

            .moblrk > .kj > form > dl dt em {
                color: #FF0000;
                margin: 5px;
                padding: 0px;
            }

        .moblrk > .kj > form > dl dd {
            float: right;
            width: 66%;
            margin: 0px 1%;
            text-align: left;
        }

            .moblrk > .kj > form > dl dd div {
                float: left;
                width: 100%;
            }

                .moblrk > .kj > form > dl dd div input.srk {
                    float: left;
                    display: block;
                    width: 90%;
                    color: #999999;
                    border-radius: 6px;
                    padding: 5px;
                    border: 0px;
                    box-shadow: 1px 1px #CACACA;
                }

                .moblrk > .kj > form > dl dd div select {
                    float: left;
                    display: block;
                    width: 90%;
                    color: #999999;
                    border-radius: 6px;
                    padding: 5px;
                    border: 0px;
                    box-shadow: 1px 1px #CACACA;
                }

            .moblrk > .kj > form > dl dd i {
                display: block;
                color: #9999A5;
                padding-top: 5px;
            }

        .moblrk > .kj > form > dl:hover dd i {
            display: block;
            color: #ff0000;
            padding-top: 5px;
        }
/***会员中心首页样式****/
.main .mobindex {
    position: relative;
    top: 30px;
    width: 98%;
    margin: auto 1%;
    Border-radius: 0px;
    text-align: left;
    padding: 0px;
    padding-bottom: 5px;
}

.mobindex .kj .hysy {
    float: left;
    width: 98%;
    height: auto;
    margin: 0px 1%;
    background: #fff;
    border: 0px solid #eee;
    border-radius: 10px;
    padding: 0px 0 15px 0;
    box-shadow: 1px 1px 1px #cfcfcf;
}

.hysy div.bt {
    float: left;
    width: 100%;
    color: #3B8DD1;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px 0;
}

    .hysy div.bt b {
        float: left;
        display: block;
        width: auto;
        margin: 10px auto auto 20px;
        color: #000000;
        font-size: 16px;
    }

    .hysy div.bt span {
        display: block;
        float: left;
        width: auto;
        color: #888888;
        margin: 10px 20px;
    }

.hysy div.dh {
    float: left;
    width: 100%;
    color: #555555;
    margin-top: 10px;
}

.hysy .l {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px;
}

    .hysy .l img {
        width: 120px;
        height: 120px;
        margin: 0px auto;
    }

    .hysy .l a {
        display: block;
        width: 99%;
        height: 20px;
        color: #3B8DD1;
        margin: 0px auto;
        text-decoration: none;
    }

.hysy div.ybt {
    float: right;
    width: 98%;
    text-align: left;
    margin: 20px auto auto 25px;
    font-size: 16px;
}

    .hysy div.ybt b {
    }

        .hysy div.ybt b span {
            color: #ff6000;
        }

.hysy .c {
    float: right;
    width: 96%;
    margin: 0px auto;
    text-align: left;
    font-size: 12px;
    line-height: 200%;
}

    .hysy .c span.a {
        float: left;
        width: 100px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        color: #666666;
    }

    .hysy .c span.b {
        display: block;
        overflow: hidden;
        height: 20px;
        padding: 0px;
        margin: 0px;
        color: #666666;
    }
/***会员中心table的列表样式****/
.hyselect {
    float: left;
    margin: 0px 3px;
    border-radius: 3px;
    padding: 8px 5px;
    width: 90px;
    background: #FF6C1E;
    color: #fff;
    border: 0px;
}

.moblrk .kj .tablelb {
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #B7C1C9;
    Padding: 0px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.tablelb tbody {
    width: 100%;
    height: auto;
}

.tablelb tr {
}

    .tablelb tr td {
        color: #667e97;
        border-bottom: 1px dotted #B7C1C9;
    }

        .tablelb tr td a {
            color: #888888;
            text-decoration: none;
        }

    .tablelb tr.bt {
        background: url(sstmt.png);
    }

        .tablelb tr.bt td {
            text-align: center;
            color: #fff;
            font-size: 14px;
            border: 0px;
            text-shadow: 1px 1px 1px #333;
            padding-top: 15px;
            padding-bottom: 15px;
        }
/***会员中心短信页样式****/
.moblrk .kj .ztk {
    float: left;
    width: 96%;
    border-left: 10px solid #D3D3D3;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 70px;
    box-shadow: 0 0 5px #808080;
}

    .moblrk .kj .ztk .tm {
        float: left;
        margin: 0px;
        width: 100%;
        background: #d3d3d3;
        margin-left: -20px;
        z-index: 10;
        height: 50px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

        .moblrk .kj .ztk .tm span {
            float: left;
            margin: 10px auto auto 20px;
        }

            .moblrk .kj .ztk .tm span a {
                float: left;
                border-radius: 5px;
                box-shadow: 0 0 5px #efefef;
                padding: 5px;
                width: auto;
                margin: 0px auto auto 10px;
                text-decoration: none;
            }

    .moblrk .kj .ztk .bt {
        float: left;
        margin: 0px;
        width: 80%;
        border-left: 45px solid #D3D3D3;
        height: 25px;
        border-bottom: 2px Solid #D3D3D3;
        margin-left: -20px;
        z-index: 10;
    }

        .moblrk .kj .ztk .bt span {
            display: inline;
            margin: 0px;
            width: auto;
            margin: 0px auto auto 10px;
            padding-top: 2px;
            color: #888888;
        }

            .moblrk .kj .ztk .bt span.red {
                color: #ff0000;
            }

    .moblrk .kj .ztk .lr {
        float: right;
        width: 95%;
        min-height: 50px;
        background: #f1f1f1;
        z-index: 10;
        border-radius: 5px;
        margin: 10px 2%;
    }

        .moblrk .kj .ztk .lr input {
            margin-right: 40px;
        }

        .moblrk .kj .ztk .lr span {
            display: block;
            margin: 5px;
            padding: 10px;
        }
/************输入框系列设置******************/
.dhsrk270 {
    float: left;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #CACACA;
}

/******底部样式**overflow-y:scroll;overflow-x:hidden;*******/
.pagekj {
    float: left;
    width: 95%;
    margin: 5px 1%;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: right;
}

    .pagekj a {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 3px 2px;
        padding: 3px 2px 3px 2px;
        border: 1px solid #efefef;
        text-decoration: none;
        color: #808080;
    }

        .pagekj a:hover {
            color: #ff0000;
        }

        .pagekj a.checked {
            font-weight: 600;
            color: #ff0000;
        }

.fotBtm {
    display: block;
    position: fixed;
    bottom: 2px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    padding: 10px 0;
    text-align: center;
    background: #F00;
    color: #fff;
    border-radius: 10px;
}

/*-----会员卡样式 开始------*/
.cardcenter {
    margin: 22px 30px 0 auto;
    float: left;
    width: 100%;
    Height: auto;
    top: 20px;
    text-align: center;
}

.card {
    margin: 0 auto;
    position: relative;
    height: 159px;
    text-align: left;
    width: 267px;
}

.cardbg {
    height: 159px;
    width: 267px;
    position: absolute;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 1;
}

.card .logo {
    max-height: 70px;
    max-width: 140px;
    position: absolute;
    top: 8px;
    left: 5px;
    z-index: 2;
}

.msk {
    display: inline-block;
    position: absolute;
    width: 320px;
    height: 115px;
    top: 78px;
    left: 0;
    z-index: 3;
    background: url(../images/msk.png) no-repeat 0 0 transparent;
    -webkit-background-size: 320px 128px;
    background-size: 320px 128px;
}

.card h1 {
    position: absolute;
    right: 10px;
    top: 7px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    color: #611D09;
    font-size: 11px;
    line-height: 25px;
    text-align: right;
    font-weight: normal;
    z-index: 10;
}

.card h2 {
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 9px;
    line-height: 22px;
    text-align: right;
    color: #EDD3BA;
    text-shadow: 1px 1px #A69079;
}

.card .verify {
    display: inline-block;
    height: 40px;
    top: 105px;
    right: 12px;
    text-align: right;
    line-height: 24px;
    font-size: 20px;
    z-index: 2;
    color: #FF6000;
    text-shadow: 0 0 5px #ffffff;
}

    .card .verify .cdnb {
        color: #E02E00;
    }

    .card .verify span {
        display: inline-block;
        text-align: left;
    }

    .card .verify em {
        display: block;
        line-height: 13px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        color: #888;
    }

.pdo {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.explain {
    line-height: 36px;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    padding: 0;
}

    .explain span {
        font-size: 14px;
        color: #646464;
        text-shadow: 0 1px #fff;
        padding-left: 20px;
        display: inline-block;
        background: url(../images/show1.jpg) no-repeat 0 50%;
        background-size: 13px 14.5px;
    }

.explain2 {
    line-height: 22px;
    margin: 30px auto 10px;
    padding: 0 40px;
    text-align: center;
}

    .explain2 span {
        color: #888888;
        display: inline-block;
        font-size: 12px;
        margin-top: 22px;
        text-shadow: 0 1px #FFFFFF;
    }

.cardexplain {
    margin: 0px 10px 20px 9px;
    min-width: 301px;
}

.hybj {
    Float: left;
    Width: 98%;
    margin: 5px auto;
    Padding: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px #b0b0b0;
    color: #333333;
    background: url(tmbj.png);
    font-size: 12px;
}

b.hyksmh {
    float: left;
    display: block;
    color: #9B520A;
    font-size: 14px;
    text-align: left;
    width: auto;
    width: 90%;
}

.hyksmd {
    float: left;
    width: 96%;
    display: block;
    font-size: 12px;
    text-align: left;
    margin: 2px 5px;
    display: none;
    border-top: 1px dotted #666;
}

.cardby {
    position: relative;
    margin: 10px auto;
}

.hykgbkq {
    float: left;
    width: 93%;
    margin: 10px 3%;
    min-height: 20px;
    line-height: 150%;
    display: none;
}
/*--------通栏按钮-------*/
/******     购物车  订单  产品展示 开始   *********************/
.gwc {
    display: block;
    margin: 5px 5px 15px 5px;
    height: auto;
    background: #fff;
    padding: 10px 10px;
    box-shadow: 1px 4px 0 0 #b8b8b8;
    border-radius: 5px;
}

    .gwc > .l {
        display: block;
        float: left;
        width: 80px;
        height: 80px;
    }

        .gwc > .l > img {
            float: left;
            width: 80px;
            height: 93px;
            border-radius: 3px;
        }

    .gwc > .r {
        display: block;
        overflow: hidden;
        height: auto;
        margin: 0px 0px 0px 10px;
    }

        .gwc > .r > .cpbt {
            display: block;
            margin: 2px 5px 0px 5px;
            font-size: 14px;
            color: #000;
        }

        .gwc > .r > .cpxm {
            display: block;
            position: relative;
            margin: 2px 5px 0px 5px;
            font-size: 12px;
            color: #333;
        }

            .gwc > .r > .cpxm > span {
                display: inline-block;
                width: 45%;
                margin: 0px 1%;
            }

        .gwc > .r > .sccp {
            display: block;
            margin: 2px 5px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            width: auto;
            background: #0775c2;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 1px 1px 0 0 silver;
        }

.hdhgwjs {
    float: left;
    width: 98%;
    margin: 5px 1%;
}

    .hdhgwjs > .wzts {
        float: left;
        width: 100%;
        font-size: 12px;
        text-indent: 10px;
        padding: 10px 0 10px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        color: #eb5600;
    }

ul.gwcdz {
    display: block;
    margin: 10px 5px 0px 5px;
    height: auto;
    border-bottom: 1px solid #DEDFE7;
    padding: 10px 0px;
    list-style-type: none;
    margin: 0px;
}

    ul.gwcdz > li {
        display: block;
        padding: 3px;
        list-style-type: none;
        margin: 5px 5px 2px 5px;
        padding: 0px;
        line-height: 150%;
        height: auto;
    }
/******     购物车  订单  产品展示 结束   *********************/
/******     收货地址 开始   *******************/
.shdzlb {
    display: block;
    width: 96%;
    float: left;
    margin: 10px 2%;
    padding: 10px 0px;
    border-bottom: 1px solid #CCC;
    height: auto;
}

    .shdzlb > .bt {
        display: block;
        float: left;
        height: auto;
        width: 100%;
    }

        .shdzlb > .bt > span {
            display: block;
            float: left;
            font-size: 14px;
            font-weight: 600;
            padding: 0px 20px 0px 10;
        }

        .shdzlb > .bt > a {
            display: block;
            float: left;
            font-size: 12px;
            padding: 0px 20 0px 10;
        }

    .shdzlb > .xm {
        display: block;
        float: left;
        height: 20px;
        width: 100%;
        text-align: left;
        text-indent: 10px;
        margin: 5px 0 0 10px;
    }

        .shdzlb > .xm > a {
            display: block;
            float: right;
            width: auto;
            height: auto;
            padding: 2px 5px;
        }

    .shdzlb > .xml {
        display: block;
        float: left;
        height: 20px;
        width: 80%;
        text-align: left;
        text-indent: 10px;
        margin: 5px 0 0 0px;
    }

    .shdzlb > .xmr {
        display: block;
        float: right;
        height: 20px;
        width: 20%;
        margin: 5px 0 0 0px;
    }

        .shdzlb > .xmr > a {
            display: block;
            float: right;
            width: auto;
            height: auto;
            padding: 2px 5px;
            border: 1px solid #4393E5;
            border-radius: 4px;
            background: #4393E5;
            color: #fff;
        }

/******     收货地址 结束   *******************/

/**内容发布表单**/
.hdhbd {
    display: block;
    float: left;
    width: 100%;
    Padding: 0px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 12px;
}

    .hdhbd > ul {
        float: left;
        width: 100%;
        height: auto;
        padding: 0px;
    }

        .hdhbd > ul > li {
            float: left;
            list-style-type: none;
            width: 100%;
            height: auto;
            padding: 5px 0px;
        }

            .hdhbd > ul > li.tjli {
                float: left;
                list-style-type: none;
                width: 100%;
                height: auto;
                padding: 5px 0px;
                margin-top: 40px;
            }

            .hdhbd > ul > li > input.wbk {
                float: left;
                list-style-type: none;
                width: 90%;
                margin: 0px 5%;
                height: auto;
                padding: 10px 0;
                background: #fff;
                border: 0px;
                text-indent: 10px;
                font-size: 16px;
                border-radius: 5px;
            }

            .hdhbd > ul > li > select {
                float: left;
                list-style-type: none;
                width: 90% !important;
                margin: 0px 5%;
                height: auto;
                padding: 10px 0;
                background: #fff;
                border: 0px;
                text-indent: 10px;
                font-size: 16px;
                border-radius: 5px;
            }

            .hdhbd > ul > li > textarea.gyms {
                float: left;
                list-style-type: none;
                width: 90% !important;
                margin: 0px 5%;
                height: 80px;
                padding: 10px 0;
                background: #fff;
                border: 0px;
                text-indent: 10px;
                font-size: 16px;
                border-radius: 5px;
            }

            .hdhbd > ul > li > .nrxq {
                float: left;
                list-style-type: none;
                width: 90% !important;
                margin: 0px 5%;
                height: 200px;
                padding: 0px 0;
                background: #fff;
                border: 0px;
                text-indent: 0px;
                font-size: 16px;
                border-radius: 5px;
            }

.hdhcmsall {
    float: left;
    width: 100%;
    height: auto;
}
/*收货地址列表*/
.hdhshdz {
    float: left;
    width: 98%;
    height: auto;
    padding: 10px 0;
    background: #fff;
    margin: 2px 1%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px #c4bfbf;
}

    .hdhshdz > .l {
        display: block;
        float: left;
        width: 40px;
        height: auto;
        text-indent: 7px;
        line-height: 200%;
        font-size: 12px;
        margin-top: 5px;
    }

        .hdhshdz > .l > span {
            padding: 4px;
            background: #f00;
            color: #fff;
            border-radius: 50%;
        }

    .hdhshdz > .c {
        display: block;
        overflow: hidden;
    }

        .hdhshdz > .c > dl {
            margin: 1px 0px;
            float: left;
            width: 100%;
            color: #333;
        }

            .hdhshdz > .c > dl > b {
                font-size: 16px;
                font-weight: 100;
            }

            .hdhshdz > .c > dl > span {
                color: #999;
                font-size: 12px;
                padding-left: 10px;
            }

    .hdhshdz > .r {
        float: right;
        width: 20px;
        height: auto;
        margin-right: 6px;
    }

        .hdhshdz > .r > a {
            display: block;
            font-size: 18px;
            margin: 2px;
        }
